PUBLIC_SUPABASE_URL=https://wzsawugcupyzljjwwmxl.supabase.co
PUBLIC_SUPABASE_ANON_KEY=sb_publishable_K7mHJpp5QL-fvMSbew0w9w_V6FoFlf8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6c2F3dWdjdXB5emxqand3bXhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTA4MDI3MCwiZXhwIjoyMTAwNjU2MjcwfQ.2cuFwH1C9xJLVm0YjOj20zER9PpCCMY9ktXFkPmQzJI
